html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  margin: 0;

  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
/* за умовчанням в браузері,тому можна додати тільки інші параметри */
/* body{
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: black;
    background-color: white;
} */

/* del markers ul */ /* обнулення */
ul {
  margin: 0;
  padding: 0;

  list-style-type: none;
}
/* обнулення */
p {
  margin: 0;
  padding: 0;
}
/* обнулення */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
/* зображення блочний елемент */
img {
  display: block;
}

/* прибрав підкреслення з посилань */
.logo,
.list-link,
.logo-footer {
  text-decoration: none;
}

/* -------------------------------------------------- */
/* container */
.container { 
  display: flex;
  align-items: center;

  max-width: 1158px;
  padding-left: 
  padding-right: 
  margin-left: 156px;  
  margin-right: 156px;
  
  
  }


 
/* header */

/* logo Web Studio */

.nav-list {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-link-header {
  color: #2e2f42;
}
.list-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: #2e2f42;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.list-link:hover {
  color: #404bbf;
}
.list-link:focus {
  color: #404bbf;
}
.nav-list:hover {
  color: #404bbf;
}
.nav-list:focus {
  color: #404bbf;
}
.nav-list:active {
  color: #404bbf;
}

/* Studio Portfolio Contacts */
.list {
  display: flex;
}
.list-nav-link:not(:first-child) {
  margin-left: 40px;
}

.nav-list .link {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* contacts header */
.contacts-list {
  display: flex;

}
.contacts-list .link {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contacts {
  font-style: normal;
}
.contacts-list .link:hover {
  color: #404bbf;
}
.contacts-list .link:focus {
  color: #404bbf;
}

/* секція Герой ???? чи фон чи зображення ??? */

.hero {
  background-color: #2e2f42;
}
.hero-text {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

/* button */

.hero-button {
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.hero-button:hover {
  background-color: #404bbf;
}
.hero-button:focus {
  background-color: #404bbf;
}

/* section Feauture */

.title-feature {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: #2e2f42;
}
.text-feature {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* team */

.team {
  background-color: #f4f4fd;
}
.title-team {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.team-list {
  background-color: #ffffff;
}
.text-team {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.text-team {
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.member-team {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.app {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

/* Our Portfolio */

.title-portfolio {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.text-app {
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* footer */

.footer {
  background-color: #2e2f42;
}
.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-weight: 700;
}
.logo-link-footer {
  color: #f4f4fd;
}
.text-footer {
  color: #f4f4fd;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}