html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
/* за умовчанням в браузері,тому можна додати тільки інші параметри */
/* body{
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: black;
    background-color: white;
} */

/* del markers ul */
ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
/* прибрав підкреслення з посилань */
.logo,
.list-link,
.logo-footer {
  text-decoration: none;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
div {
    outline: 3px solid red;

}
/* -------------------------------------------------- */

/* header */

/* logo Web Studio */

.header-container {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */

  border-bottom: 1px solid #e7e9fc;

}

.list {
  display: inline-flex;
}
.list-studio:not(:last-child) {
  margin-right: 24px;
}
.logo {
  margin-right: 76px;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-link-header {
  color: #2e2f42;
}



.list-link {
  padding-top: 24px;
  padding-bottom: 24px;

  color: #2e2f42;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.list-link:hover {
  color: #404bbf;
}
.list-link:focus {
  color: #404bbf;
}
.nav-list:hover {
  color: #404bbf;
}
.nav-list:focus {
  color: #404bbf;
}
.nav-list:active {
  color: #404bbf;
}

/* Studio Portfolio Contacts */
.nav-list .link {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* contacts header */
.contacts-list .link {
  display: inline-flex;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contacts {
  font-style: normal;
}
.contacts-list .link:hover {
  color: #404bbf;
}
.contacts-list .link:focus {
  color: #404bbf;
}

/* секція Hero ???? чи фон чи зображення ??? */

.hero {
  background-color: #2e2f42;
}
.hero-text {
  width: 496px;
  text-align: center;
  padding: 188px 0;
  margin-left: auto;
  margin-right: auto;


  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

/* button */
.button {
  padding-bottom: 188px;
}
.hero-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  /* margin-bottom: 188px; */

  min-width: 169px;
  height: 56px;

  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.button-text {
  text-align: center;
}
.hero-button:hover {
  background-color: #404bbf;
}
.hero-button:focus {
  background-color: #404bbf;
}

/* section Feauture */
.feature-hidden {
  padding-bottom: 120px;
  padding-top: 120px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title-feature {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: #2e2f42;
}
.text-feature {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.feature-list {
  display: inline-flex;
  padding-top: 120px;
  padding-bottom: 120px;
}
.feature:not(:last-child) {
  margin-right: 24px;
}
/* team */

.team {
  background-color: #f4f4fd;
}
.title-team {
  padding-top: 120px;
  padding-bottom: 72px;
  margin-left: auto;
  margin-right: auto;

  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.team-container {
  display: inline-flex;
  list-style-type: none;
  padding-bottom: 120px;
  
}
.team-list:not(:last-child) {
  margin-right: 24px;
}
.team-list {
  background-color: #ffffff;
}
.text-team {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.text-team {
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.member-team {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.app {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

/* Our Portfolio */

.title-portfolio {
  padding-top: 120px;
  padding-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.our-portfolio {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 120px;
  width: calc((100%-48)3);
}
.our-portfolio-link {

  width: calc((100%-24*2)3);
}
.text-app {
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* footer */

.footer {
  background-color: #2e2f42;
}
.logo-text {

  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 0;
  padding-right: 0;
}
.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-weight: 700;
}
.logo-link-footer {
  color: #f4f4fd;
}
.text-footer {
  display: block;
  padding-top: 16px;
  width: 264px;

  color: #f4f4fd;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
